h1, h2, h3, h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}

h5, h6 {
    font-family: "Anton", sans-serif;
    
}

p {
    font-family: "Jura", sans-serif;
}

/*Navigation Bar*/

.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/teal2.jpg");
    background-color: transparent;
    background-size: cover;
    z-index: 10;
}

.customNav a{
    color: white !important;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

/*Jumbotron*/
.jumbotron {
    background-image: url(../images/Christiana\ avatar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: azure;
    height: calc(30vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
   }

/*Card*/
.cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
  }

